.navbar {
  background-color: #faedca;
}

.home-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.home-img {
  height: 700px;
}

.search-container {
  background-color: #faedca;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
}

.location-search {
  width: 40rem;
  text-align: center;
  border: none;
  height: 2rem;
}

.bi-camera {
  padding-left: 1rem;
}

.search-button {
  border: none;
  padding: 0.25rem;
  width: 2rem;
  background-color: white;
}

.authform-header {
  text-align: center;
}
