.navbar {
  background-color: #faedca;
}

.home-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.home-img {
  height: 700px;
}

.search-container {
  background-color: #faedca;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
}

.location-search {
  width: 40rem;
  text-align: center;
  border: none;
  height: 2rem;
}

.bi-camera {
  padding-left: 1rem;
}

.search-button {
  border: none;
  padding: 0.25rem;
  width: 2rem;
  background-color: white;
}

.authform-header {
  text-align: center;
}

.fa-plus {
  cursor: pointer;
  color: black;
}

.profile-header {
  margin-left: 2rem;
  margin-top: 1rem;
}

.post-header {
  margin-right: 2rem;
  margin-top: 1rem;
}

.hidden {
  display: none;
}

/* Create Post Form */

.create-post-header {
  margin-top: 1rem;
}

.placeholder-img {
  width: 400px;
}

.create-post-form label {
  font-weight: bold;
  margin-top: 0.5rem;
}

.create-post-form textarea {
  resize: none;
  height: 200px;
  margin-top: 0.5rem;
}

.create-post-form input {
  margin-top: 0.5rem;
}

.create-post-form button {
  margin-left: 21rem;
  margin-top: 1rem;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  height: 2rem;
  width: 4rem;
}

.form-container {
  margin: auto;
  width: 390px;
}

.suggestion-list {
  cursor: pointer;
}

.suggestion-list:hover {
  background-color: lightgray;
}
